<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7724fa5d-6036-49c6-8064-c7ceb80b4c5a/d427pn3-b88846bf-71e6-4996-89d6-c910ae903969.png/v1/fill/w_774,h_1033,q_70,strp/the_prophecy_by_piratewars_d427pn3-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTEzNSIsInBhdGgiOiJcL2ZcLzc3MjRmYTVkLTYwMzYtNDljNi04MDY0LWM3Y2ViODBiNGM1YVwvZDQyN3BuMy1iODg4NDZiZi03MWU2LTQ5OTYtODlkNi1jOTEwYWU5MDM5NjkucG5nIiwid2lkdGgiOiI8PTg1MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WPU0L45xeehsX9BMnG0ctQzGJ0prdVjrpcFW6Nx0UIE" alt="" height="">
    </div>

    <div class="small-card__title">
      <h1><a href="#">STAY TUNED</a></h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr/>
  </div>

</div>
