
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card Id="1" photoCover="https://th.bing.com/th/id/OIP.pX7qBajRhUOWyUItzBT4ZwHaEK?pid=ImgDet&rs=1"
    cardTitle="NOVA FORÇA ANGULAR ESTÁ CHEGANDO"
    cardDescription="SOON..."
    ></app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card Id="2" cardTitle="STAY TUNED"
    photoCover="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7724fa5d-6036-49c6-8064-c7ceb80b4c5a/d427pn3-b88846bf-71e6-4996-89d6-c910ae903969.png/v1/fill/w_774,h_1033,q_70,strp/the_prophecy_by_piratewars_d427pn3-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTEzNSIsInBhdGgiOiJcL2ZcLzc3MjRmYTVkLTYwMzYtNDljNi04MDY0LWM3Y2ViODBiNGM1YVwvZDQyN3BuMy1iODg4NDZiZi03MWU2LTQ5OTYtODlkNi1jOTEwYWU5MDM5NjkucG5nIiwid2lkdGgiOiI8PTg1MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WPU0L45xeehsX9BMnG0ctQzGJ0prdVjrpcFW6Nx0UIE"
    ></app-small-card>

    <app-small-card Id="3" cardTitle="STAY TUNED" photoCover="https://th.bing.com/th?id=OIF.XVBoBwlJWIOZzGli%2bXRFxQ&pid=ImgDet&rs=1"></app-small-card>

    <app-small-card Id="4" cardTitle="STAY TUNED" photoCover="https://th.bing.com/th/id/R.773ba39479452eddbce3bd8ad5847409?rik=Rc8rjcl4zrB%2fPQ&pid=ImgRaw&r=0"></app-small-card>
  </div>
</div>
